*{
    margin: 0;
    padding: 10px;
      font-family: serif-clean 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#box{
background-color: rgba(36, 143, 231, 0.381);
margine
}
